################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs
/src/NKafka.sln.DotSettings.user
/src/NKafka/obj
/src/NKafka/bin
/src/NKafka.DevConsole/obj
/src/NKafka.DevConsole/bin

/src/dotnet-core/.vs
/src/dotnet-core/NKafka.Core.sln.DotSettings.user
/src/dotnet-core/NKafka/project.lock.json
/src/dotnet-core/NKafka/bin/
/src/dotnet-core/NKafka/obj/
/src/dotnet-core/NKafka.DevConsole/project.lock.json
/src/dotnet-core/NKafka.DevConsole/obj/
/src/dotnet-core/NKafka.DevConsole/bin/
